@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*:where(
	:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
) {
	all: unset;
	display: revert;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: Poppins, system-ui, sans-serif;
	touch-action: manipulation;
	user-select: none;
}

a,button {
	cursor: pointer;
}
